<div class='well'> #bootstrap formatting
	<%=form_for @user do |f| %>
	<%= render 'shared/errors', obj: @user %>
	<div class='control-group'>
		<%= f.label :username %>
		<%= f.text_field :username %>
	</div>
	<div class='control-group'>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>
	<%= f.submit @user.new_record? ? "Regiser : Update profile", class: 'btn btn-success' %>
	<%end %>
</div>
